<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %}TodoApp{% endblock %}</title>
</head>
<body>

  {% include 'navbar.html' %}

  <div id="appToastContainer" style="position: fixed; top: 80px; right: 20px; z-index: 1080; min-width: 260px;"></div>

  {% block content %}

  {% endblock %}

    <script src="{{ url_for('static', path='/js/jquery-slim.js') }}?v=20260304"></script>
    <script src="{{ url_for('static', path='/js/popper.js') }}?v=20260304"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.js') }}?v=20260304"></script>
    <script src="{{ url_for('static', path='/js/base.js') }}?v=20260304" defer></script>
</body>
</html>